/* body {
    background-color: lightblue;
}

input[type=submit] {
     
    background-color: #F99420; Orange
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100px;
    
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
} */