/* body {
    background-color: lightblue;
}

input[type=submit] {
     
    background-color: #F99420; Orange
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100px;
    
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
} */

.btn-primary { 
	border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
	
}

.btn-delete{
	background-color: #e90000; 
	
}