/* body {
    background-color: lightblue;
}

input[type=submit] {
     
    background-color: #F99420; Orange
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100px;
    
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
} */

body    { background:url(../img/header.jpg') top right no-repeat; background-attachment:fixed; }

.btn-primary { 
	border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
	
}
.btn-delete{ /*Delete Button */
	background-color: #e90000; 
	
}

.signupcard {
	background-color: #3f383f;
}
.addbutton1{
	border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    border-radius: 15px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.submit{
	margin: 0 auto;
	color: black;
}	
	
