body{
	background-color:rgb(110,110,110);
}


.fixed-bottom-footer{
	height:10%;
	width:100%;
	text-align:center;
	background-color:rgb(50,50,50);
	color:rgb(200,200,200);
	position:fixed;
	bottom:0;
	
}

.alert-text{
	color:rgb(200,0,0);
	margin-top:5px;
	text-shadow:1px 1px 5px black;
}

.footer-buttons{
	background-color:#cc3300;
	border-color: #cc3300;
}
.footer-buttons:hover{
	background-color:#902000;
	border-color: #902000;
}


.btn-warning{
	background-color:#cc3300;
	border-color: #cc3300;
	color:rgb(220,220,220);
}

.btn-warning:hover{
	background-color:#902000;
	border-color: #902000;
	color:rgb(220,220,220);
}


.btn-add{
	background-color:#288f09;
	border-color: #3bbe0e;
	color:rgb(220,220,220);
	
}
.btn-add:hover{
	background-color:#154c05;
	border-color: #3bbe0e;
	color:rgb(220,220,220);
	
}

.btn-primary{
		background-color:#cc3300;
	border-color: #cc3300;
	
}
.btn-primary:hover{
	background-color:#902000;
	border-color: #902000;
	
}

.brewery{
	border: 2px solid rgb(70,70,70);
	color:rgb(20,20,20);
}
.brewery .btn{
	margin-bottom:2px;
}

.med-beer{
	max-width:50%;
}


.comment-box{
	width:100%;
	height:15%;
	
}

header{
	margin-botton:10%;
	background-image:none;
}


input, textarea{
	color:rgb(30,30,30);
}


.beer-list{
	padding-top : 10%;
}

.beer{
	margin-bottom:5%;
	padding:10%;
	border:2px solid white;
	
	height:60%;
}


body{
	margin-bottom:10%;
	background-size: cover;
	background-image: url(../img/header.jpg);
}

.nav-links{
	text-decoration:none;
	color:rgb(200,200,200);
}

#mainNav{
	background-color:rgb(50,50,50);
}



#contact{
	color:rgb(220,220,220);
}
#contact a{
	color:#ff9900;
}


.brewery-list{
	margin-top:8%;
}

.brewery-list h2{
	font-size:3em;
	font-weight:bold;
	margin-bottom:2%;
}

.userList{
	margin-top:7%;
}

.user{
	text-align:center;
	padding:1%;
	border:2px solid white;
}

/* .user .btn{
	margin-bottom:2px;
} */
.btn{
	margin-top:2px;
}

.user-information{
	text-align:left;
}

.individual-rating{
	text-align:center;
	margin:auto;
	margin-top:10%;
	margin-bottom:10%;
}

.comment-box{
	height:20%;
	width:100%;
}


.user-beer-list{
	margin-top:6%;
	margin-bottom:10%;
	text-align:center;
	}
	
	.user-rating{
	padding:1%;
	
	
	}
	
	
	
.bottom-page-spacer{
	height:10%;
}

.col-centered{
   float: none;
   margin-right: auto;
   margin-left: auto;
}


.facebook-login-button-container{
	margin-top:5px;
	margin-bottom:3px;
}

.btn btn-primary btn-xl page-scroll{
	margin-top: 5px;
	margin-bottom: 5px;
}


.btn btn-default btn-xl{
	background-color:#334c8b;
	
}

.search-title{
	font-size:3em;
}

.main-menu-choice{
	padding:0;
	margin:0;
	margin-bottom:5%;
}

.stretch-img{
	width:100%;
}

.return-link{
	text-decoration:none;
	color:#c11e00;
	text-shadow: 1px 1px 5px black;
}